{{#if unreadCount}}
  {{unread-notifier
    unreadCount=unreadCount
    lastReadAt=sessionMember.lastReadAt
    onTapArrowUp=(action "doNotifierJump")
    onTapBody=(action "doNotifierJump")
    onTapClose=(action "setAllMessagesAsRead")
  }}
{{/if}}

{{#if isLoadingEarlier}}
  <div class="c-chat-notifier">
    <h2 class="c-chat-notifier_title">Loading earlier comments</h2>
  </div>
{{/if}}

{{#comments-section
  editingComment=editingComment
  classNames="js-scrollable-container"
  tap=(action "doCommentSectionTap")
}}
  {{#if hasRendered}}
    {{#unless isShowingAllComments}}
      {{load-trigger
        doLoadTrigger=(action "doLoadTrigger")
      }}
    {{/unless}}
  {{/if}}
  {{#each sortedComments as |comment|}}
    {{stream-comment
      comment=comment
      firstComment=firstComment
      lastComment=lastComment
      firstUnread=firstUnread
      editingComment=editingComment
      onEdit=(action "doEditComment")
      onDelete=(action "deleteComment")
      onNewMarkerView=(action "doNewMarkerViewed")
      updateComment=(action "updateComment" comment)
    }}
  {{/each}}
{{/comments-section}}

{{#if sessionMember}}
  <div class="c-footer js-footer">
    <section class="u-position-relative">
      {{#if isMentionListVisible}}
        {{mention-list
          classNames="c-mention-list--chat-box"
          items=streamMembers
          onSelectItem=(action "pickMentionMember")
        }}
      {{/if}}

      {{#if isChatModalVisible}}
        <div class="c-confirmation-card">
          <button class="mute" {{action (action "doCancelUpdateComment")}}>
            Cancel
          </button>

          <h2 class="c-confirmation-card_title">Editing Comment</h2>

          <button {{action (action "doUpdateComment")}}>
            Save
          </button>
        </div>
      {{/if}}
    </section>

    {{chat-box
      value=chatBoxValue
      isSendButtonVisible=isSendButtonVisible
      onComment=(action "createComment")
      onValueChange=(action "doValueChange")
    }}
  </div>
{{/if}}