{{#freestyle-guide
  title='Samewave styleguide'
  subtitle='Living Style Guide'
  }}
  {{#link-to "streams" classNames="button"}}Go back{{/link-to}}

  {{#freestyle-section name='Visual Style' as |section|}}
    {{#freestyle-subsection name='Typography' section=section}}
      {{#freestyle-usage 'typography-times' title='Times New Roman'}}
        {{freestyle-typeface fontFamily='Times New Roman'}}
      {{/freestyle-usage}}

      {{#freestyle-usage 'typography-helvetica' title='Helvetica'}}
        {{freestyle-typeface fontFamily='Helvetica'}}
      {{/freestyle-usage}}
    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Color' section=section}}
      {{#freestyle-usage 'fp' title='Samewave Palette' usageTitle='Usage'}}
        {{freestyle-palette
        colorPalette=colorPalette
        title='Color Palette'
        description='This component displays the color palette specified in freestyle/palette.json'
        }}
      {{/freestyle-usage}}
    {{/freestyle-subsection}}
  {{/freestyle-section}}

  {{#freestyle-section name='Components' as |section|}}
    {{#freestyle-subsection name='unread-notifier' section=section}}
      {{#freestyle-usage "globally-unique-slug" 'unread-notifier' title='Unread notifier'}}
        {{unread-notifier
          unreadCount=5
          lastReadAt=date
          classNames="u-position-relative"}}
      {{/freestyle-usage}}

      {{#freestyle-note "globally-unique-slug:notes"}}
        The unread notifier displays the number of comments the user has not read.

        When the user taps the arrow icon the screen scrolls to the last read comment's position.
      {{/freestyle-note}}
    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Media block' section=section}}
      {{#freestyle-collection title='Goal block In Every State' defaultKey='standard' inline=true as |collection|}}
        {{#freestyle-variant collection=collection key='standard'}}
          {{#freestyle-usage "globally-unique-slug" 'media-block-base' title='Base media block'}}
            <div class="freestyle-container">
              {{media-block
                title='Media block title'
                date=date
              }}
            </div>
          {{/freestyle-usage}}

          {{#freestyle-note "globally-unique-slug:notes"}}
            The media-block the the base component which other blocks are based off.
          {{/freestyle-note}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='open'}}
          {{#freestyle-usage "globally-unique-slug" 'media-block-base--open' title='When Open'}}
            <div class="freestyle-container">
              {{media-block
                title='Media block title'
                date=date
                classNames="is-open"
              }}
            </div>
          {{/freestyle-usage}}

          {{#freestyle-note "globally-unique-slug:notes"}}
            All media blocks can be swiped open.

            When an element has the drag="handle" attribute ember-dragula can target it.
          {{/freestyle-note}}
        {{/freestyle-variant}}
      {{/freestyle-collection}}

      {{#freestyle-usage "globally-unique-slug" 'media-block-goal' title='Goal media block'}}
        {{media-block/goal
          title='Media block title'
        }}
      {{/freestyle-usage}}

      {{#freestyle-note "globally-unique-slug:notes"}}
        Goal block used in the goals list and scoreboard
      {{/freestyle-note}}
    {{/freestyle-subsection}}
  {{/freestyle-section}}
{{/freestyle-guide}}
