<header class="pink || l-app-header">
  <div class="c-header">
  	<section class="c-header_first-section"></section>

    <section class="c-header_second-section">
      <h1 class="c-header_title">
        Streams
      </h1>
    </section>

    <section class="c-header_last-section" {{action (action 'logout' target=session)}}>
      <p class="c-header_user-name">{{session.person.name}}</p>
      {{inline-svg "images/icons/icon-logout" class="c-icon--logout"}}
    </section>
  </div>
</header>

{{streams-section
  streams=sortedStreams
  onItemTap=(action "gotoStreamChat")
}}

{{media-block
  title="Style Guide"
  tap=(action 'gotoStyleGuide')
}}

<div class="c-fab"></div>