{{#ember-wormhole to="header-destination"}}
  <header class="pink || section-header--app">

    <div class="section-header_second-section">
      <h1 class="section-header_title">
        Streams
      </h1>
    </div>

    <div class="section-header_last-section" {{action (action 'logout' target=session)}}>
      {{session.person.name}}
      {{inline-svg "images/icons/icon-logout" class="c-icon--logout"}}
    </div>
  </header>
{{/ember-wormhole}}

<section class="l-app-body--streams">
	{{#each streams as |stream|}}
	  <div class="c-media-block--stream" {{action (action 'gotoStreamChat' stream)}}>
	  	<div class="c-media-block_first-section">
	  		<div class="c-avatar">
	  		</div>
	  	</div>

	  	<div class="c-media-block_second-section">
		    <p class="blue-text || c-media-block_title">{{stream.title}}</p>
	  	</div>
	  </div>
	{{/each}}
</section>


<div class="c-fab"></div>