<header class="pink || l-app-header">
  <div class="c-header">
  	<section class="c-header_first-section"></section>

    <section class="c-header_second-section">
      <h1 class="c-header_title">
        Streams
      </h1>
    </section>

    <section class="c-header_last-section" {{action (action 'logout' target=session)}}>
      <p class="c-header_user-name">{{session.person.name}}</p>
      {{inline-svg "images/icons/icon-logout" class="c-icon--logout"}}
    </section>
  </div>
</header>

<section class="l-app-body--streams">
	{{#each sortedStreams as |stream|}}
	  <div class="c-media-block--stream" {{action (action 'gotoStreamChat' stream)}}>
	  	<div class="c-media-block_first-section">
	  		<div class="c-avatar">
	  		</div>
	  	</div>

	  	<div class="c-media-block_second-section">
		    <p class="blue-text || c-media-block_title">{{stream.title}}</p>
        <p class="c-media-block_meta">{{moment-format stream.lastCommentedAt "DD/MM/YYYY | HH:MM"}}</p>
	  	</div>
	  </div>
	{{/each}}
</section>


<div class="c-fab"></div>