<div class="c-media-block_front">
	<section class="c-media-block_first-section">
		<div class="c-avatar">
		</div>
	</section>

	<section class="c-media-block_second-section">
	 <p class="blue-text || c-media-block_title">{{title}}</p>
		 {{yield}}
	</section>

	<section class="c-media-block_last-section">
		<p class="c-media-block_meta">
       {{friendly-date date=date isLocal=true}}
  	</p>
	</section>
</div>

<div class="c-media-block_back">
	<section class="c-option-block">
		{{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
		<p class="c-option-block_title">reply</p>
	</section>

	<section class="c-option-block">
			{{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
			<p class="c-option-block_title">scores</p>
	</section>

	<section class="c-option-block">
		{{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
		<p class="c-option-block_title">Files</p>
	</section>

	<section class="c-option-block">
		{{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
		<p class="c-option-block_title">Settings</p>
	</section>
</div>