<header class="pink || stream-header">
	<div class="shades white-text || user-info">Currently 'logged in' as {{user.name}}</div>

	<div class="person-switch-control">
	  <p class="shades white-text">Switch to</p>

	  {{#each people as |person|}}
	    <button class="btn || btn-switch-user btn--small" {{action (action "doLogin" person)}}>{{person.name}}</button>
	  {{/each}}
	</div>

	<button {{action "loadEarlier"}} class="btn amber || btn-load-earler btn--small">Load earlier</button>
</header>

{{comments-section
  comments=sortedComments
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
}}

<footer class="pink || stream-chat-footer">
  {{chat-box doComment=(action "createComment")}}
</footer>


