<header class="header">
	<button {{action "loadEarlier"}}>More</button>
</header>

<section class="chat-container">
	{{#each sortedComments as |comment|}}
	  <p><b>{{comment.person.name}}: </b>{{comment.body}}</p>
	{{/each}}
</section>

<footer class="chat-input-container">
	{{input value=body}}
	<button {{action "doComment"}}>Send</button>
</footer>

