<header class="light-blue || stream-header">
	<div class="shades white-text || user-info">Currently 'logged in' as {{user.name}}</div>

	<div class="person-switch-control">
	  <p class="shades white-text">Switch to</p>

	  {{#each people as |person|}}
	    <button class="btn || btn-switch-user btn--small" {{action (action "doLogin" person)}}>{{person.name}}</button>
	  {{/each}}
	</div>

	<button {{action "loadEarlier"}} class="btn amber || btn-load-earler btn--small">Load earlier</button>
</header>

<section class="grey lighten-4 || section-body">
	{{#each sortedComments as |comment|}}
	  {{stream-comment
	    comment=comment
	    updateComment=(action "updateComment")
	    deleteComment=(action "deleteComment")
	    classNames="chip || message"
	  }}
	{{/each}}
</section>

<footer class="teal || section-footer">
	<div class="inner">
		<div class="white || chat-input">{{input value=body }}</div>

		<button class="btn btn-chat-send" {{action (action "createComment")}}>Send</button>
	</div>
</footer>
