<button {{action "loadEarlier"}}>
  More
</button>

{{#each comments as |comment|}}
  <p><b>{{comment.person.name}}: </b>{{comment.body}}</p>
{{/each}}

{{input value=body }}
<button {{action "doComment"}}>
  Send
</button>

