<header class="header">
	<div>Currently 'logged in' as {{user.name}}</div>

	<br/>
	<br/>

	<div>
	  Switch to
	  {{#each people as |person|}}
	    <button {{action (action "doLogin" person)}}>
	      {{person.name}}
	    </button>
	  {{/each}}
	</div>

	<br/>
	<br/>

	<button {{action "loadEarlier"}}>
	  Load earlier
	</button>
</header>

<section class="chat-container">
	{{#each sortedComments as |comment|}}
	  {{stream-comment
	    comment=comment
	    updateComment=(action "updateComment")
	    deleteComment=(action "deleteComment")
	  }}
	{{/each}}
</section>

<footer class="chat-input-container">
	{{input value=body }}
	<button {{action (action "createComment")}}>
	  Send
	</button>
</footer>
