<div class="c-media-block_front js-swipeable-block">
	<section class="c-media-block_second-section">
		<div class="c-media-block_main-content">
			{{avatar-image
				colour=colour
				isSmall=true
				isGreen=true}}

			 <p class="c-media-block_title">{{goal.title}}</p>
		</div>

		<div class="c-media-block_meta-content">
			<div class="c-progress-dot c-media-block_dot"></div>

			<p class="c-media-block_info">
				<span class="c-media-block_goal-number--{{colour}}">{{value}}</span> of <span class="c-media-block_goal-number--{{colour}}">{{goalTotal}}</span>
			</p>
		</div>
	</section>

	{{#if isDragHandleVisible}}
		<section class="c-media-block_last-section" data-drag="handle">
			<p class="c-media-block_meta">
		  	{{inline-svg "images/icons/icon-drag" class="c-media-block_drag-icon"}}
	  	</p>
		</section>
	{{/if}}
</div>

<div class="c-media-block_back">
	{{#if isEditing}}
		<section class="c-option-block--red c-option-block--one">
			{{inline-svg "images/icons/icon-minus-circle" class="c-option-block_icon"}}
			<p class="c-option-block_title">Delete</p>
		</section>
	{{else}}
	  <section class="c-option-block">
	    {{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
	    <p class="c-option-block_title">View</p>
	  </section>

	  <section class="c-option-block">
	      {{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
	      <p class="c-option-block_title">Settings</p>
	  </section>

	  <section class="c-option-block">
	    {{inline-svg 'images/icons/icon-reply' class="c-option-block_icon"}}
	    <p class="c-option-block_title">Pins</p>
	  </section>
	{{/if}}
</div>