<header class="pink || l-app-header">
	<div class="c-header--login">
    <section class="c-header_second-section">
      <h1 class="c-header_title" {{action (action 'doGraemeLogin')}}>
        Samewave prototype
      </h1>
      <h5 class="c-header_tagline" {{action (action 'doMondeLogin')}}>
      	Take only what we need to survive
      </h5>
    </section>
  </div>
</header>

<section class="l-app-body--login">
	<form class="l-form" {{action 'doLogin' on='submit'}}>
		<div class="l-form_item c-input-field">
		  <label for="identification" class="c-input-field_label">Email</label>
		  {{input
		  	id='identification'
		  	type="email"
		  	value=identification
		  	required=true
		  	autofocus=true
		  	classNames="c-input-field_input"}}
	  </div>

	  <div class="l-form_item c-input-field">
		  <label for="password" class="c-input-field_label">Password</label>
		  {{input
		  	id='password'
		  	value=password
		  	required=true
		  	classNames="c-input-field_input"}}
	  </div>

	  <button type="submit" class="button--login">
	  	<p class="button_title">Login</p>
	  </button>
	</form>
</section>