<div class="message_author">
  <p><b>{{comment.person.name}}</b>:</p>
</div>

{{#if isEditing}}
	<div class="message_body">{{{input value=comment.body}}}</div>

  <div class="red || message_option" {{action (action "doCancel")}}>cancel</div>
  <div class="green || message_option" {{action (action "doUpdate")}}>save</div>
{{else}}
  <div class="message_body">
    <p>{{{comment.body}}} {{date-format comment.createdAt}}</p>
  </div>

  <div class="amber || message_option" {{action (action "doEdit")}}>edit</div>
  <div class="red || message_option" {{action (action "doDelete")}}>delete</div>
{{/if}}