<div class="c-stream-comment_author">
  <p><b>{{comment.person.name}}</b>:</p>
</div>

{{#if isEditing}}
	<div class="c-stream-comment_body">{{{input value=comment.body}}}</div>

  <div class="red || c-stream-comment_option" {{action (action "doCancel")}}>cancel</div>
  <div class="green || c-stream-comment_option" {{action (action "doUpdate")}}>save</div>
{{else}}
  <div class="c-stream-comment_body">
    <p class="c-stream-comment_text">{{comment.body}}</p>
    <p class="c-stream-comment_time-stamp">{{moment-format comment.createdAt "MM:SS"}}</p>
  </div>

  <div class="amber || c-stream-comment_option" {{action (action "doEdit")}}>edit</div>
  <div class="red || c-stream-comment_option" {{action (action "doDelete")}}>delete</div>
{{/if}}