{{#ember-wormhole to="header-destination"}}
  <header class="pink || section-header--app">
    <div class="section-header_first-section" {{action (action 'gotoStreams')}}>
      {{inline-svg "images/icons/icon-back" class="c-icon--back"}}
    </div>

    <div class="section-header_second-section">
      <h1 class="section-header_title">
        {{stream.title}}
      </h1>
    </div>

    <section id="header-content-destination"></section>

    <div class="section-header_last-section" {{action (action 'logout' target=session)}}>
      {{session.person.name}}
      {{inline-svg "images/icons/icon-logout" class="c-icon--logout"}}
    </div>
  </header>
{{/ember-wormhole}}

<nav class="c-tabs">
  {{#link-to 'stream.index.chat' classNames="c-tabs_item chat"}}
  	{{inline-svg 'images/icons/icon-stream' class="c-tabs_icon"}}
  {{/link-to}}

  {{#link-to 'stream.index.scoreboard' classNames="c-tabs_item scoreboard"}}
	  {{inline-svg 'images/icons/icon-scoreboard' class="c-tabs_icon"}}
  {{/link-to}}

	<div class="c-tabs_line"></div>
</nav>

{{liquid-outlet class="l-app-body--stream js-stream-body"}}

{{!-- <div class="app-background"></div> --}}
