<div class="c-chat-notifier_first-section" {{action (action "tapArrowUp")}} role="button">
	{{inline-svg "images/icons/icon-arrow-up" class="c-chat-notifier_icon-up"}}
</div>

<h2 class="c-chat-notifier_title" {{action (action "tapBody")}} role="button">
	Unread comments: {{numberOfUnreadComments}}
</h2>

<div class="c-chat-notifier_close" {{action (action "tapClose")}}>
	{{inline-svg "images/icons/icon-close" class="c-chat-notifier_close-icon" role="button"}}
</div>